body{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F3E5D8;
  margin: 0px;
}

p, h1, h2{
  margin: 0px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 40%;
}