.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: -43px;
}

.menu img {
  width: 50px;
}

.menu-items {
  display: flex;
  gap: 20px;
}

.menu-items a {
  font-size: 1.2rem;
  background: #ddcfc3;
  padding: 10px 20px;
  border-radius: 5px;
}


.main-bg{
  background-color: #fff;
  border-radius: 15px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.container{
  padding: 10px;
  max-width: 700px;
}

.conteudo{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 40px;

}

.conteudo img{
  max-width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

.conteudo h1{
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: hsl(24, 5%, 18%);
}

.conteudo p {
  margin-bottom: 20px;
}

@media (max-width: 650px){

  .conteudo img {
    border-radius: 0px;
    padding: -30px;
    margin: 0px;
    max-width: 100%;
  }

  .conteudo h1 {
    font-size: 2rem;
  }

  .conteudo-info{
    padding: 25px;
  }

  .main-bg{
    margin: 0px;
  }


  .container{
    margin: 0px;
    max-width: 100%;
  }

  .conteudo{
    padding: 0px;
  }

}

/*  */

.conteudo-preparacao {
  background: hsl(330, 100%, 98%);
  padding: 30px;
}

.conteudo-preparacao li {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: 35px;
  margin-top: 10px;
  position: relative;
}

.conteudo-preparacao li::before{
  content: "";
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: hsl(332, 51%, 32%);
  position: absolute;
  left: -30px;
}


.conteudo-preparacao span,
.conteudo-instrucao span{
  font-weight: 700;
  color: hsl(24, 1%, 30%);
  margin-right: 5px;
}

.conteudo-preparacao h2{
  color: hsl(332, 51%, 32%);
  font-size: 1.25rem;
}

@media (max-width: 450px){

  .conteudo-preparacao li{
    font-size: 14px;
    margin-left: 10px;
    text-align: center;
  }

  .conteudo-preparacao h2{
    font-size: 1rem;
  }
}

@media (max-width: 380px){
  .conteudo-preparacao ul {
    padding-left: 15px;
  }
}

/*  */

.conteudo-ingredientes h2 {
  margin-top: 30px;
}

.conteudo-ingredientes li {
  list-style: none;
  display: flex;
  align-items: center;
  position: relative;
}

.conteudo-ingredientes li + li {
  margin-top: 10px;
}

.conteudo-ingredientes li::before{
  content: "";
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: hsl(14, 45%, 36%);
  position: absolute;
  left: -30px;
}

/*  */

.conteudo-instrucao ul {
  list-style-position: inside;
  padding-left: 20px;
}

.conteudo-instrucao li {
  list-style: number;
  padding-left: 20px;
}

.conteudo-instrucao li + li {
  margin-top: 10px;
}


.conteudo-instrucao li::marker{
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}


/*  */

.conteudo-nutricao h2 {
  margin-bottom: 20px;
}

.conteudo-nutricao ul {
  padding-left: 0px;
}

.conteudo-nutricao ul li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  padding-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.quebra-linha{
  box-sizing: border-box;
  height: 1px;
  background: gray;
  opacity: 40%;
  grid-column: 1 / -1;
  margin-top: 20px;
  margin-bottom: 20px;
}

.conteudo-nutricao ul li:last-child{
  margin-bottom: 5px;
}

.conteudo-nutricao hr {
  margin: 0px;
}

.conteudo-nutricao span{
  font-weight: 700;
  color: hsl(14, 45%, 36%);
}

.fixed-menu {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 3;
  background: #f5e5d8; /* Ajuste conforme o design */
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Efeito sutil de sombra */
  justify-content: center;
  padding: 20px;
}
